@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --color-red: hsl(4, 100%, 67%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);

  --font-roboto: "Roboto", sans-serif;
}
